* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-nav {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}

.title {
  color: dimgray;
  margin-left: 40px;
  font-family: "Cookie", cursive;
  font-size: 40px;
}
.title:hover {
  animation: titleUp 6s linear infinite;
}

.nav-link {
  color: dimgray;
  text-decoration: none;
  margin-right: 15px;
  font-family: "Cookie", cursive;
  font-size: 22px;
}
.nav-link:hover {
  color: plum;
  transition: color 1s;
}

@keyframes titleUp {
  0% {
    font-size: 40px;
    color: dimgray;
  }
  50% {
    font-size: 43px;
    color: plum;
  }
  100% {
    font-size: 40px;
    color: dimgray;
  }
}
@media screen and (max-width: 700px) {
  .title {
    font-size: 32px;
    margin: 5px 0;
  }
  .title:hover {
    animation: none;
  }

  .nav-link {
    font-size: 16px;
  }
}
.mr {
  margin-right: 40px;
}

@media screen and (max-width: 500px) {
  .title {
    margin-bottom: 10px;
  }
  .title:hover {
    animation: none;
  }

  .main-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
  }

  .nav-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    margin: 5px 0;
  }

  .mr {
    margin-right: 0px;
  }
}
.hero {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  height: 600px;
}
.hero_content {
  color: dimgray;
  margin-top: 50px;
  padding: 30px;
  font-family: "Cookie", cursive;
  flex-grow: 1;
  flex-shrink: 1;
}
.hero_content_desc {
  font-size: 32px;
}
.hero_content_title {
  font-size: 56px;
}
.hero_content_test {
  font-size: 26px;
}
.hero_content_btns {
  margin-top: 40px;
}
.hero_img {
  flex-grow: 0;
  flex-shrink: 2;
}

.btn_action {
  width: 180px;
  height: 40px;
  color: whitesmoke;
  background-color: plum;
  border: none;
  border-radius: 10px;
  transition: all 1s;
  margin-left: 30px;
}
.btn_action:hover {
  color: plum;
  background-color: whitesmoke;
}
.btn_action a {
  color: inherit;
}

.btn_info {
  width: 180px;
  height: 40px;
  color: plum;
  background-color: whitesmoke;
  border: 3px solid plum;
  border-radius: 10px;
  margin-left: 30px;
  transition: all 1s;
}
.btn_info:hover {
  background-color: plum;
  color: whitesmoke;
}
.btn_info a {
  color: inherit;
}

button a {
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 1150px) {
  .hero_content .btn_action,
.hero_content .btn_info {
    margin-top: 30px;
  }

  .hero_content {
    padding: 12px;
  }
  .hero_content_desc {
    font-size: 24px;
  }
  .hero_content_title {
    font-size: 32px;
  }
  .hero_content_test {
    font-size: 18px;
  }

  .btn_action,
.btn_info {
    width: 120px;
    height: 30px;
    margin: 0;
  }
}
@media screen and (max-width: 900px) {
  .hero_content {
    width: 45%;
  }

  .hero_img {
    width: 55%;
  }
}
@media screen and (max-width: 800px) {
  .hero {
    flex-direction: column;
    height: 100vh;
  }

  .hero_content {
    margin-top: 0;
    width: 100%;
    height: 40% !important;
  }

  .hero_content_btns {
    margin: 0;
  }

  .hero_img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 60%;
  }
}
.info {
  height: 300px;
  width: 100%;
  background-color: whitesmoke;
}
.info_title {
  height: 50px;
  font-family: "Cookie", cursive;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  color: dimgray;
}
.info_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  flex-grow: 1;
  flex-basis: 1;
  flex-shrink: 1;
}
.info_cont h5 {
  font-family: "Cookie", cursive;
  font-size: 28px;
  color: dimgray;
  margin-bottom: 10px;
}
.info_cont p {
  font-family: "Cookie", cursive;
  font-size: 18px;
  color: dimgray;
}
.info_wraper {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  padding: 0 10px;
}
.info_wraper i {
  font-size: 70px;
  color: plum;
  margin-bottom: 15px;
}

.equ {
  justify-self: flex-end !important;
}

@media screen and (max-width: 800px) {
  .info {
    height: 70vh;
  }

  .info_wraper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .info_wraper i {
    font-size: 48px;
  }

  .info_cont {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  .info {
    height: 100vh;
  }
}
.feat {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 70px;
}
.feat_del {
  flex-basis: 50%;
  justify-self: center;
  padding-left: 15px;
  padding-right: 15px;
}
.feat_del p {
  font-family: "Cookie", cursive;
  font-size: 18px;
  color: dimgray;
}
.feat_fe {
  flex-basis: 50%;
  justify-self: center;
}
.feat_fe_title {
  height: 50px;
  font-family: "Cookie", cursive;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  color: dimgray;
}
.feat_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}
.feat_grid_el {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
}
.feat_grid_el i {
  font-size: 22px;
  color: dimgray;
}
.feat_grid_el p {
  width: 60%;
  font-size: 22px;
  color: dimgray;
  font-family: "Cookie", cursive;
}

@media screen and (max-width: 900px) {
  .feat_del p {
    font-size: 14px;
  }

  .feat_fe_title {
    margin-bottom: 7px;
  }
}
@media screen and (max-width: 700px) {
  .feat {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .feat {
    height: 100vh;
  }
}
@media screen and (max-width: 380px) {
  .feat {
    height: 80vh;
    margin-top: 20px;
  }
}
.assort {
  margin-top: 70px;
  height: 900px;
}
.assort_grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  height: 800px;
  overflow: hidden;
}
.assort_grid_el {
  z-index: 1;
  overflow: hidden;
}
.assort_grid_el:hover {
  transform: scale(1.05);
  z-index: 0;
}
.assort_grid_el_title {
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  color: black;
  font-family: "Cookie", cursive;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.404);
  display: flex;
  align-items: center;
  justify-content: center;
}
.assort_grid_el_title h4 {
  text-align: center;
}
.assort_title {
  height: 50px;
  font-family: "Cookie", cursive;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  color: dimgray;
}

.ass_el_tit {
  font-family: "Cookie", cursive;
  display: inline;
  font-size: 30px;
  text-align: center;
  color: black;
}

.btn-align {
  margin-left: 0 !important;
  position: relative;
  top: 260px;
  left: 30%;
}

#ass1 {
  background-image: url("../../src/img/t1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#ass2 {
  background-image: url("../../src/img/t2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#ass3 {
  background-image: url("../../src/img/t3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#ass4 {
  background-image: url("../../src/img/t4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#ass5 {
  background-image: url("../../src/img/t5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#ass6 {
  background-image: url("../../src/img/t6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 900px) {
  .assort {
    height: 300vh;
  }

  .assort_grid {
    height: 90%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .btn-align {
    top: 300px;
    left: 40%;
  }
}
@media screen and (max-width: 750px) {
  .assort {
    height: 700vh;
  }

  .assort_grid {
    height: 95%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
  }

  .btn-align {
    top: 480px;
    left: 40%;
  }
}
.footer {
  margin-top: 30px;
  color: white !important;
  height: 20vh;
  background-color: dimgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer_des {
  margin-left: 40px;
}
.footer_des a {
  transition: all 1s linear;
  text-decoration: none;
  color: plum;
}
.footer_des a:active, .footer_des a:visited {
  color: white;
}
.footer_des a:hover {
  color: plum;
}
.footer_social {
  font-size: 20px;
  margin-right: 40px;
}
.footer_social i {
  margin: 0 10px;
}

#facebook {
  transition: 0.5s linear;
}
#facebook:hover {
  color: #3b5998;
}

#instagram {
  transition: 0.5s linear;
}
#instagram:hover {
  color: #C13584;
}

#twitter {
  transition: 0.5s linear;
}
#twitter:hover {
  color: #00acee;
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
